<!DOCTYPE html>
	<!--[if lt IE 8 ]><html class="ie7 no-js" lang="cs"> <![endif]-->
	<!--[if IE 8 ]><html class="ie8 no-js" lang="cs"> <![endif]-->
	<!--[if IE 9 ]><html class="ie9 no-js" lang="cs"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="cs"> <!--<![endif]-->
	<head>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Noto+Sans&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<meta name="Author" content="PeckaDesign (www.peckadesign.cz)">

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no">

		<title>PHP/Nette programátor | Dělej co umíš</title>

		<meta property="og:title" content="Programátoři na volné noze jsou renesanční lidé!">
		<meta property="og:image" content="http://www.delejcoumis.cz/img/fbshare.jpg">
		<meta property="og:description" content="Vaří, uklízí, hlídají děti, shání zakázky, fakturují a pak za odměnu programují. A co takhle…">
		<meta property="og:type" content="article">
		<meta property="og:site_name" content="delejcoumis.cz">
		<meta property="og:url" content="http://www.delejcoumis.cz/">

		<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace('no-js','js');</script>

		<link rel="stylesheet" type="text/css" href="./styles/styles.css?ver=3" media="screen">

		<script src="js/main.js"></script>

		<!--[if (lt IE 9)]>
		<script src="js/respond.min.js"></script>
		<![endif]-->

		<!--Google Analytics-->
		<script>
			(function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-117312-8', 'auto');
			ga('send', 'pageview');

		</script>

		<link rel="Shortcut icon" href="/favicon.ico?ver=2" type="image/x-icon">
	</head>
	<body>

		<div id="header">
			<p id="logo">
				<img src="./img/logo.png" alt="PeckaDesign" width="220" height="44">
			</p>
		</div>

		{include #content}

		<ul class="menu">
			<li><a href="http://www.peckadesign.cz">Náš Peckaweb</a></li>
			<li><a href="http://www.peckadesign.cz/kontakt">Kontaktní údaje</a></li>
		</ul>

		<div class="footer">
			<h3>Koho ještě hledáme?</h3>
			<ul>
				<li><a href="http://www.peckadesign.cz/spravce-srovnavacu-zbozi">Správce srovnávačů zboží</a></li>
				<li><a href="http://www.peckadesign.cz/ux-designer">UX designer</a></li>
			</ul>
			<p>
				<a href="http://www.peckadesign.cz/">
					<img src="img/logo-foot.png" alt="PeckaDesign" width="387" height="78">
				</a>
			</p>
		</div>

		<script type="text/javascript">
			/* <![CDATA[ */
			var seznam_retargeting_id = 10097;
			/* ]]> */
		</script>
		<script type="text/javascript" src="//c.imedia.cz/js/retargeting.js"></script>

		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s){ if(f.fbq)return;n=f.fbq=function(){ n.callMethod?
						n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
					n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
					t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
					document,'script','https://connect.facebook.net/en_US/fbevents.js');

			fbq('init', '1098462570198661');
			fbq('track', "PageView");</script>
		<noscript><img height="1" width="1" style="display:none"
					   src="https://www.facebook.com/tr?id=1098462570198661&ev=PageView&noscript=1"
			/></noscript>
		<!-- End Facebook Pixel Code -->

	</body>
</html>

